<style>
    .pagination {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        align-items: center; /* Align items vertically center */
    }
    
    .small-text {
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
    }
    .btn-prev,
.btn-next {
    background-color: #007bff; /* Blue color */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}

.btn-prev:disabled,
.btn-next:disabled {
    opacity: 0.5; /* Reduced opacity for disabled state */
    cursor: not-allowed; /* Disable cursor for disabled state */
}
.modal-body {
   
    max-height: 500px;
    min-width: 500px;  /* Set max height to enable scrolling */
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    overflow-x: auto; /* Hide horizontal scrollbar */
    text-align: center; /* Center-align content */
}

/* Style the table */
.table {
    width: 100%;
    margin-bottom: 0; /* Remove default margin */
}

/* Style the table head */
.table thead th {
    text-align: center; /* Center-align table headers */
    white-space: nowrap; /* Prevent header text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}
/* Style the table body */
.table tbody td {
    text-align: center; /* Center-align table data */
    white-space: nowrap; /* Prevent cell content from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
}

/* Hide default scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}


</style>

<div id="rdp_devices">
    <div class="table-responsive">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th class="small-text">Username</th>
                    <th class="small-text">Full Name</th>
                    <th class="small-text">Email</th>
                    <th class="small-text">Location</th>
                    <th class="small-text">Device User Name</th>
                    <th class="small-text">Device Type</th>
                    <th class="small-text">Device Name</th>
                    <th class="small-text">Platform</th>
                    <th class="small-text">Processors</th>
                    <th class="small-text">CPU Used (%) </th>
                    <th class="small-text">Used Memory</th>
                    <th class="small-text">Used Storage</th>
                    <th class="small-text">Public </th>
                    <th class="small-text">Private IP</th>
                    <th class="small-text">MAC Address</th>
                    <th class="small-text">Motherboard Serial</th>
                    <th class="small-text">Status</th>
                    <th class="small-text">Uptime ratio</th>
                    <th class="small-text">Downtime ratio</th>
                    <th class="small-text">Last Online</th>
                    <th colspan="2" class="small-text">Action</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                {% for device in device_data %}
                <tr>
                    <td class="small-text">{{ device.user_name }}</td>
                    <td class="small-text">{{ device.full_name }}</td>
                    <td class="small-text">{{ device.email }}</td>
                    <td class="small-text">{{ device.location }}</td>
                    <td class="small-text">{{ device.currentUser }}</td>
                    <td class="small-text">{{ device.platform }}</td>
                    <td class="small-text">{{ device.deviceName }}</td>
                    <td class="small-text">{{ device.platform }}</td>
                    <td class="small-text">{{ device.processorCount }}</td>
                    <td class="small-text percent">{{ device.usedMemoryPercent }}</td>
                    <td class="small-text percent">{{ device.usedMemory }}</td>
                    <td class="small-text">
                        <i style="cursor: pointer; font-size: 15px; color: rgb(31, 36, 36); vertical-align: middle; padding-top: 3px;"
                            class="fa fa-info-circle drive"></i>
                        {{ device.usedStorage }}GB of {{ device.totalStorage }}GB <span class="small-text percent">{{ device.usedStoragePercent 
                        }}</span>
                    </td>
                    <td class="small-text">{{ device.publicIP }}</td>
                    <td class="small-text">{{ device.private_ip }}</td>
                    <td class="small-text">{{ device.mac_address }}</td>
                    <td class="small-text">{{ device.motherboard_serial }}</td>
                    {% if device.isOnline %}
                    <td class="small-text"><button type="button" disabled
                            class="btn btn-success small-text">Online</button></td>
                    {% else %}
                    <td class="small-text"><button type="button" disabled
                            class="btn btn-danger small-text">Offline</button></td>
                    {% endif %}

                   

                    <td class="small-text hour">{{ device.offlineHours }}</td>
                    <td class="small-text hour">{{ device.onlineHours }}</td>
                    <td class="small-text datetime">{{ device.lastOnline }}</td>

                    <!-- connect button -->
                    {% if device.isOnline %}
                    <td class="small-text"><input type="button" class="btn btn-primary small-text connect"
                            value="Connect"></td>
                    {% else %}
                    <td class="small-text"><input type="button" class="btn btn-secondary small-text" value="Connect"
                            disabled></td>
                    {% endif %}
                    {% if device.isOnline %}
                    <td class="small-text"><input type="button" class="btn btn-primary small-text delete"
                            value="Uninstall"></td>
                    {% else %}
                    <td class="small-text"><input type="button" class="btn btn-secondary small-text " value="Uninstall"
                         disabled   ></td>
                    {% endif %}
                    <!-- Add more table cells for other device attributes -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <div class="mt-3">
        <button type="button" class="btn btn-primary mr-2">Button 1</button>
    </div> -->
</div>

<div id="driveModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="driveModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 200px;">
        <div  class="modal-content">
            <!-- Modal content goes here -->
        </div>
    </div>
</div>


<!-- <script>
    // Get the element where you want to display the modified value
    var usedMemoryElement = document.getElementById("usedMemoryPercent");

    // Get the original value
    var originalValue = parseFloat(usedMemoryElement.textContent);

    // Modify the value to represent a percentage
    var modifiedValue = originalValue * 100; // Converting to percentage

    // Update the element with the modified value and add the percentage sign
    usedMemoryElement.textContent = modifiedValue.toFixed(2) + '%'; // Display the modified value with two decimal places and a percentage sign
</script> -->